body {
    background: beige;
    margin: 0;
    padding: 0;
}
header {
    position:center;
    display:block;
    max-width:60%;
    height:100%;
    margin:0 auto;
    padding:1rem 5rem;
    background:#cccccc;
}
header h1 {
    line-height: 45px;
    font-size: 2rem;
    margin: 0;
    display:inline;
    background: turquoise;
}
nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    float:right;
    display:inline;
}
nav  li {
    position:relative;
    display:inline-block;
    list-style-type: none;
    font-family: "Open Sans", "Droid Sans", Helvetica, Arial, sans-serif;
    color: #222;
    padding:0 1rem;
}
nav li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
nav > li > a:hover,
nav > li > a:focus {
    text-decoration: none;
    background-color: #eee;
}
.container {
    margin: auto;
    width: 70%;
    padding: 0;
    background: white;
    height: 500px;
}

.About {
    font-size: 1rem;
    padding: 10px 0 0 10px;
    border-bottom: 1px solid green;
}

#image {
    float: left;
    padding: 10px;
    margin: 0 auto;
}

#p {
    font-size: 1.2rem;
}

footer {
    background: turquoise;
}

h3 {
    color: pink;
}

.contact {
    width: 100%;
}

.message {
    width: 100%;
}

button {
    background: grey;
    border: black;
    border-radius: 3px;

}